// Specific CSS for your home-page
body {
  background-color: $light-violet;
}

.banner-home {
  height: 80vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1650347325097-d22eb1223ee9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  // previous banner https://images.unsplash.com/photo-1613666517563-d19a4585d1fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80
  background-size: cover;
}

.values {
  padding-top: 3rem;
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.container-home {}

.home-info {}
