
.session {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60vw;
  height: 70vh;
  min-height: 600px;
  padding: 20px;
  margin: 50px auto;

  .arting-form-inputs {
    height: 2.5rem;
    background-color: $primary;
    border: 0.7px solid #D9D9D9;
    box-shadow: 0px 2px 2px #D9D9D9;
  }

  .arting-form-inputs:focus {
    border: 0.7px solid #b0b0b0;
    box-shadow: 0px 2px 2px #b0b0b0;
  }

  .arting-form-inputs:hover {
    border: 0.7px solid #b0b0b0;
    box-shadow: 0px 2px 2px #b0b0b0;
  }

  .title-session {
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: $body-font;
    font-size: 32px;
    text-align: center;
  }

  .links {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    a {
      color: $success;
      text-align: center;
      color: $body-color;
    }
  }

  .submit-button {
    align-self: center;
    text-align: center;
  }
}
