.carousel-item {
  height: 30rem;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.space-image {
  height: 30rem;
  background-color: $light-gray;
  overflow: hidden;
  border: 0px;
  border-radius: 25px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.space-page {
  h1,h2,h3,h4,h5,p{
    font-family: $body-font;
  }
  .space-name{
    font-size: 1.7rem;
  }
  .owner-name{
    font-size: 1.3rem;
    color: $success;
    font-weight: 500;
  }
  .feature-title{
    font-size: 1.1rem;
  }
  .feature-description{
    font-size: 1rem;
  }
}
