<div class="content-container mx-auto">
  <div class="container d-flex justify-content-center flex-wrap">
    <%= render "shared/search" %>
    <% @spaces.each do |space| %>
      <%= render "shared/card", space: space %>
    <% end %>
  </div>
</div>
