<div class="content-container mx-auto">
  <div class="w-100 px-4">
    <h2 class="mt-4">Inquiries</h2>
    <br>
    <h5>Pending</h5>
    <br>
    <div>
      <% @bookings.each do | booking | %>
        <% if booking.pending? %>
          <%= render "shared/booking_card", booking: booking %>
        <% end %>
        <br>
      <% end %>
    </div>
    <br>
    <h5>Accepted</h5>
    <br>
    <div>
      <% @bookings.each do | booking | %>
        <% if booking.accepted? %>
          <%= render "shared/booking_card", booking: booking %>
        <% end %>
        <br>
      <% end %>
    </div>
    <br>
    <h5>Past</h5>
    <br>
    <div>
      <% @bookings.each do | booking | %>
        <% if booking.declined? %>
          <%= render "shared/booking_card", booking: booking %>
        <% end %>
        <br>
      <% end %>
      <% @bookings.each do | booking | %>
        <% if booking.end_date < DateTime.now %>
          <%= render "shared/booking_card", booking: booking %>
        <% end %>
        <br>
      <% end %>
    </div>
    <br>
  </div>
</div>
