<div class="content-container mx-auto">
  <div class="w-100 px-4">
    <h2 class="mt-4">My Bookings</h2>
    <br>
    <div>
      <% @bookings.each do | booking | %>
        <% if booking.pending? %>
          <%= render "shared/booking_card", booking: booking %>
        <% end %>
      <% end %>
    </div>
    <div class="text-end">
      <%= link_to host_index_bookings_path do %>
        <button class="btn btn-success prim-button ps-4 pe-4 mt-4">Booking Inquiries</button>
      <% end %>
    </div>
  </div>
</div>
