<div class="search-container my-4 d-flex justify-content-between align-items-end">
  <form action="/spaces" method="GET" class="w-100 row gx-1 align-items-end flex-nowrap" data-turbo="false">
    <div class="col-auto py-2">
      <label for="place" class="form-label search-label">Type of Space</label>
      <input class="form-control" type="text" id="place" placeholder="Atelier" name="query">
    </div>
    <div class="col-auto p-2">
      <button type="submit" class="btn btn-success">Search</button>
    </div>
  </form>
  <% if current_page?(spaces_path) %>
      <%= link_to map_path do %>
        <button class="btn btn-success rounded-circle button-map m-2"><i class="fa-solid fa-map-location-dot"></i></button>
      <% end %>
  <% end %>
</div>
