<div class="content-container search-container mx-auto px-5 my-4">
  <form action="/spaces" method="GET" class="w-100 row g-5" data-turbo="false">
    <%# <div class="col-sm-5 col-7 p-2"> %>
      <% if !current_page?(root_path) %>
        <label for="place" class="form-label search-label px-0">Type of Space</label>
      <% else %>
        <div class="mt-4"></div>
      <% end %>
      <input class="form-control arting-form-inputs col-auto mt-3" type="text" id="place" placeholder="Atelier" name="query" value=<%= params[:query]%> >
    <%# </div> %>
    <button type="submit" class="btn btn-success prim-button col-auto mt-3">Search</button>
  </form>
  <%# if current_page?(spaces_path) %>
      <%#= link_to map_path do %>
        <%# <button class="btn btn-success rounded-circle button-map m-2"><i class="fa-solid fa-map-location-dot"></i></button> %>
      <%# end %>
  <%# end %>
</div>
