<div class="banner-home">
  <div class="container h-100 d-flex flex-column justify-content-end">
    <h3 class="values">Exchange your Creative Residency</h3>
    <h3 class="values">Get Ideas from Different Environments</h3>
    <h3 class="values pb-5">Meet New Artists Through Spaces</h3>
  </div>
</div>
<div class="container pt-3">
  <form class="form-inline" action="">
    <div class="form-group mb-2">
      <label for="sr-only">Where?</label>
      <input class="form-control w-25" type="address">
    </div>
    <button class="btn btn-primary mb-2">Search</button>
  </form>
</div>
