<div class="banner-home">
</div>
<div class="bg-primary container-home">
  <div class="container pt-5">
    <h1 class="text-dark fw-bold fs-1 pt-3">Exchange your Creative Residency</h1>
    <h5 class="text-dark fw-light w-50 pt-3">Get new ideas from different environments and connect with other artists through spaces</h5>
    <%# <form class="form-inline" action="">
      <div class="form-group mb-2">
        <label for="sr-only">Where?</label>
        <input class="form-control w-25" type="address">
      </div>
      <button class="btn btn-primary mb-2">Search</button>
    </form> %>
      <%= link_to spaces_path do %>
        <button class="btn btn-success p-2 ps-5 pe-5 mt-4 round">Start</button>
      <% end %>
  </div>
</div>
