<div class="banner-home">
</div>
<div class="container">
  <%= render "shared/search" %>
  <div class="container w-75 py-5 ms-0 d-flex flex-column">
    <h5 class="text-dark fw-light pt-3 w-75 text-start">Find an amazing space for creating your next masterpiece</h5>
    <br>
    <h5 class="text-dark fw-light pt-3 w-75 text-start align-self-end">Share your space with the arting community and connect</h5>
    <br>
    <h5 class="text-dark fw-light pt-3 w-75 text-start">Exchange experiences and inspiration from magical surroundings</h5>
  </div>
</div>
<div class="bg-primary home-info">
  <p class="text-black ps-4 pt-3" >This project was built with <i class="fa-solid fa-heart"></i> from
  <a class="text-decoration-none text-dark" href="https://ran1000.github.io/profile/">ran1000</a> for educational purposes.</p>
</div>



<%# <div class="container pt-5 pb-5">
  <h1 class="text-light fw-bold fs-1 pt-3">About</h1>
  <h5 class="text-light fw-light w-50 pt-3">This is a modest platform and service developed for empowering creative people and improve collaborations between artists of any kind. We believe in freedom of expression and community exchange as core ingredients for generating evolving values and ideas.</h5>
</div> %>
<%# <div class="container pb-5">
  <h1 class="text-light fw-bold fs-1 pt-3">Contact</h1>
  <h5 class="text-light fw-light w-50 pt-3"><i class="fa-solid fa-envelope"></i> inbox@swapresi.com</h5>
</div> %>
