<div class="banner-home"></div>
<div class="landing-page-container">
  <%= render "shared/search" %>
  <div class="container w-100 py-5 ms-0 d-flex flex-column">
    <div class="d-flex flex-sm-row flex-column">
      <h5 class="text-dark fw-light pt-3 w-75 text-start align-self-center me-4">Pop Up Your Creativity</h5>
      <p>Welcome to our digital service that empowers artists to pop up their creativity by swapping their ateliers. Our platform connects artists from all over the world and provides a simple and easy way for them to discover new places and gain inspiration for their art. Whether you're a painter, sculptor, or any other type of artist, our service offers you a unique opportunity to broaden your horizons and explore new creative environments.</p>
      <div class="img-values"></div>
    </div>
    <br>
    <div class="d-flex flex-row">
      <div class="img-values"></div>
      <h5 class="text-dark fw-light pt-3 w-75 text-start align-self-center ms-4">Make It Bloom</h5>
      <p>We believe that creativity should be nurtured and encouraged, and that's why we offer a platform that helps artists make their talent bloom. By swapping your atelier, you'll be able to discover new techniques, learn from other artists, and gain a fresh perspective on your art. Our service is designed to provide you with the tools you need to grow and develop your creative skills, so you can take your art to the next level.</p>
    </div>
    <br>
    <div class="d-flex flex-row">
      <h5 class="text-dark fw-light pt-3 w-75 text-start align-self-center me-4">Swap It</h5>
      <p>Our platform is all about swapping. By sharing your atelier with another artist, you're not only gaining access to a new space, but you're also opening the door to a new community of like-minded individuals. Our service is simple and intuitive, allowing you to easily find and connect with other artists who are interested in swapping their ateliers. We offer a secure and reliable platform, so you can swap with confidence and focus on what matters most – your art.</p>
      <div class="img-values"></div>
    </div>
    <p>Join our platform today and start popping up your creativity, making it bloom, and swapping your atelier with other artists from around the world. Let's connect and create something beautiful together!</p>
  </div>
  <br>
  <div class="container w-100 py-5 ms-0 d-flex flex-column">
    <h5 class="text-dark fw-light pb-4 w-75 text-start">Testimonials</h5>
    <div class="d-flex flex-row w-100">
      <div class="d-flex flex-column">
        <%= image_tag "https://images.unsplash.com/photo-1591968743883-decc954ccce8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80", class: "avatar-testimonial align-self-center" %>
        <h5 class="text-dark fw-light pt-5 text-start">Leyla</h5>
        <p class="text-dark fw-light pt-5 text-start">"Swapping my atelier with another artist through this platform has been an incredible experience. I was able to discover a new creative environment and learn from a different perspective. The process was smooth and easy, and I connected with another artist who has now become a friend and a source of inspiration. I highly recommend this platform to any artist looking to expand their creative horizons."</p>
        <h5 class="text-dark fw-light pt-5 text-start"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></i></h5>
      </div>
      <div class="d-flex flex-column">
        <%= image_tag "https://images.unsplash.com/photo-1591968743883-decc954ccce8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80", class: "avatar-testimonial align-self-center" %>
        <h5 class="text-dark fw-light pt-5 text-start">Stephan</h5>
        <p class="text-dark fw-light pt-5 text-start">"As an artist, I've always struggled with finding the right workspace to unleash my creativity. This platform has been a game changer for me. By swapping my atelier, I've been able to discover new spaces and techniques, and gain inspiration from other artists. The process is user-friendly and secure, and I've had nothing but positive experiences. I can't recommend this platform enough."</p>
        <h5 class="text-dark fw-light pt-5 text-start"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h5>
      </div>
      <div class="d-flex flex-column">
        <%= image_tag "https://images.unsplash.com/photo-1591968743883-decc954ccce8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80", class: "avatar-testimonial align-self-center"%>
        <h5 class="text-dark fw-light pt-5 text-start">Tilla</h5>
        <p class="text-dark fw-light pt-5 text-start">"I was skeptical about swapping my atelier at first, but this platform made the process so easy and straightforward. I was able to connect with another artist in my area and swap our spaces for a few weeks. It was such a refreshing change of pace and helped me break out of my creative rut. I can't wait to swap again and see where it takes me next. This platform is a must-try for any artist looking to step out of their comfort zone."</p>
        <h5 class="text-dark fw-light pt-5 text-start"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h5>
      </div>
    </div>
  </div>
</div>
<div class="bg-primary home-info">
  <p class="text-black ps-4 pt-3" >This project was built with <i class="fa-solid fa-heart"></i> from
  <a class="text-decoration-none text-dark" href="https://ran1000.github.io/profile/">ran1000</a></p>
</div>



<%# <div class="container pt-5 pb-5">
  <h1 class="text-light fw-bold fs-1 pt-3">About</h1>
  <h5 class="text-light fw-light w-50 pt-3">This is a modest platform and service developed for empowering creative people and improve collaborations between artists of any kind. We believe in freedom of expression and community exchange as core ingredients for generating evolving values and ideas.</h5>
</div> %>
<%# <div class="container pb-5">
  <h1 class="text-light fw-bold fs-1 pt-3">Contact</h1>
  <h5 class="text-light fw-light w-50 pt-3"><i class="fa-solid fa-envelope"></i> inbox@swapresi.com</h5>
</div> %>
