<%= turbo_frame_tag :cookie_consent do %>
  <div class="cookies-footer">
    <div class="card">
      <div class="card-body row">
        <div class="col-8">
          <p class="text-center">This website uses cookies.</p>
        </div>
        <div class="col-4">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#cookieModal">
            Learn More
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="cookieModal" tabindex="-1" aria-labelledby="cookieModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="cookieModalLabel">Website Cookies</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          This website uses cookies. You can check out our cookie policy <%= link_to "here", cookie_policy_path, target: "__blank", class: "text-success" %>.
        </div>
        <div class="modal-footer">
          <%= button_to "Reject",
            cookie_consent_path(consent: false),
            method: :post,
            class: "btn btn-secondary",
            onclick: "hideModal()" %>
          <%= button_to "Accept",
            cookie_consent_path(consent: true),
            method: :post,
            class: "btn btn-success",
            onclick: "hideModal()" %>
        </div>
      </div>
    </div>
  </div>
  <script>
    function hideModal() {
      let consentModal = document.getElementById("cookieModal");
      if (consentModal) {
        let modalToHide = bootstrap.Modal.getInstance(consentModal);
        console.log(bootstrap.Modal)
        modalToHide.hide();
      }
    }
  </script>
<% end %>
