<div class="content-container p-4">
  <h1 class="pb-3">Cookies policy</h1>
  <p>We use cookies to provide secure user authentication and authorization on our website. Cookies are small text files that are stored on your device when you access our website.</p>
  <p>The cookies we use are essential for providing the authentication and authorization services, and they are not used for any other purpose. We do not track your browsing activity or collect any personal information through these cookies.</p>
  <p>By using our website, you consent to the use of these cookies for the purposes of user authentication and authorization. If you do not wish to allow these cookies, please do not use our website.</p>
  <p>You can control or delete cookies through your browser settings. However, disabling these cookies may prevent you from accessing certain parts of our website or using some of our services.</p>
  <p>For more information on how we handle personal data and cookies, please refer to our privacy policy.</p>
</div>
