.button-map {
  position: absolute;
  top: 100px;
  right: 50px;
  height: 45px;
  width: 45px;
}

.button-back {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 45px;
  width: 45px;
}

.button-new {
  position: fixed;
  bottom: 30px;
  right: 50px;
  height: 45px;
  width: 45px;
}

.card-space-button {
  position: absolute;
  bottom: 10px;
}
