.button-map {
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-back {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 45px;
  width: 45px;
}

.prim-button{
  background-color: $success;
  height: 40px;
  p{
    color: $white;
    font-weight: 500;
  }
}

.sec-button{
  background-color: $white;
  border: 2px solid $success;
  height: 40px;
  p{
    font-weight: 500;
  }
}

.button-new {
  text-decoration: none;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-space-button {
  position: absolute;
  bottom: 10px;
}
