.card-spaces {
  width: 20rem;
  height: 20rem;
  background-color: $light-gray;

  .card-img {
    min-height: 75%;
    background-color: gray;

    img {
      object-fit: cover;
    }
  }

  .description-space {
    height: 9rem;
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
