.space-link {
  text-decoration: none;
  padding: 8px;

  :hover {
    opacity: 0.95;
  }
}

.squared-card {
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.03);
  width: 20rem;
  height: 20rem;
  background-color: $light-gray;
  overflow: hidden;
  border: 0px;
  border-radius: 25px;

  .card-image {
    height: 70%;
    background-color: $gray;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}


.space-info {
  height: 30%;
  padding: 15px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.space-name {
  font-size: 1rem;
  color: $dark;
  font-weight: 500;
  max-height: 2.5rem;
  overflow: hidden;

  :hover {
    transform: translateX(-50px);
  }
}

.space-owner {
  font-size: 1rem;
  color: $gray;
  margin-bottom: 0px;
}

.space-cost {
  font-weight: 500;
  color: $dark;
  margin: 0px;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.owner-card {
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.03);
  min-width: 40%;
  height: 30rem;
  background-color: $light-gray;
  overflow: hidden;
  border: 0px;
  border-radius: 25px;

  a {
    text-decoration: none;
  }

  .space-info {
    height: 50%;
    padding: 15px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .remove-button {
      align-self: center;
      width: 200px;
    }
  }

  .card-image {
    height: 50%;
    background-color: $gray;
    padding: 0px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.request-card {
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.03);
  min-width: 40%;
  background-color: $light-gray;
  overflow: hidden;
  border: 0px;
  border-radius: 25px;
  padding: 16px;
}

.pending-confirmation {
  form {
    display: flex;
    align-items: center;
  }
}
