.arting-form-inputs {
  height: 2.5rem;
  background-color: $primary;
  border: 0.7px solid #D9D9D9;
  box-shadow: 1px 1px 5px #D9D9D9;
}

.arting-form-inputs:focus {
  border: 0.7px solid #b0b0b0;
  box-shadow: 1px 1px 5px #D9D9D9;
}

.arting-form-inputs:hover {
  border: 0.7px solid #b0b0b0;
  box-shadow: 1px 1px 5px #D9D9D9;
}

.form-textarea{
  height: auto
}
