.navbar-arting {
  justify-content: space-between;
  border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0.03);
}

.navbar-arting .navbar-collapse {
  flex-grow: 0;
}

.dropdown-box {
  overflow: hidden;
}

.logo-arting{
  color: $success;
  font-family: $headers-font;
  font-size: 2rem;
  font-weight: 700;
  padding-left: 12px;
}

.logo-arting-footer{
  color: $body-color;
  font-family: $headers-font;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-link-text{
  padding-left: 8px;
  font-weight: 500;
}
