.search-container {
  width: 1008px;
}

.search-label {
  font-size: 0.9rem;
}

@media (max-width: 1200px) {
  .search-container {
    width: 672px;
  }
}

@media (max-width: 768px) {
  .search-container {
    width: 336px;
  }
}
