.search-container {
  .arting-form-inputs {
    height: 2.5rem;
    background-color: $primary;
    border: 0.7px solid #D9D9D9;
    box-shadow: 0px 2px 2px #D9D9D9;
  }

  .arting-form-inputs:focus {
    border: 0.7px solid #b0b0b0;
    box-shadow: 0px 2px 2px #b0b0b0;
  }

  .arting-form-inputs:hover {
    border: 0.7px solid #b0b0b0;
    box-shadow: 0px 2px 2px #b0b0b0;
  }

  .search-label {
    font-size: 0.9rem;
  }

  @media(min-width:770px){
    .arting-form-inputs{
      width: 300px;
      margin-right: 16px;
    }
  }
}
